.welcome {
  margin-top: 140px;
}

.signUpForm {
  margin-top: 50px;
  padding-bottom: 150px;
}

.continueBtn {
    background-color: rgba(221, 221, 221, 0.28);
    border: solid #838383 1px;
    border-radius: 5px;
    font-size: 16pt;
    padding: 20px;
    margin-top: 30px;
}

.dropdown, .dropup {
  display: inline;
}

#cellCarrierDropdown {
  width: 200px;
  display: inline; 
}

#phoneNumber {
  width: 110px;
  display: inline; 
}

#emailAddress {
  width: 300px;
  display: inline;
}
